body {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #77A6B6;
}

#maincontainer {
    background-color: #DED6D1;
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 300px;
    padding: 15px;
    border-radius: 25px;
}

#display {
    background-color: #A4BAB7;
    height: 20%;
    border-radius: 25px;
}

#buttons {
    height: 70%;
    margin-top: 30px;
}

#topRow {
    height: 60px;
    width: 70%;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
}

#topAC, #topPercent, #topPlusMinus {
    height: 50%;
    width: 30%;
    border-radius: 20px;
}

#numbers {
    /*border: 1px solid green;*/
    display: flex;
    height: 220px;
    width: 70%;
    flex-wrap: wrap;
}

#numbers button {
    height: 55px;
    width: 55px;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 30px;
}